<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.helloandroid">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- Permissions for Locations -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IdeaMeter"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
                 The API key for Google Maps-based APIs is defined as a string resource.
                 (See the file "res/values/google_maps_api.xml").
                 Note that the API key is linked to the encryption key used to sign the APK.
                 You need a different API key for each encryption key, including the release key that is used to
                 sign the APK for publishing.
                 You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LocationServices_Entity.MapsMainActivity"
            android:label="IdeaMeter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LocationServices_Entity.MapsActivity"
            android:label="IdeaMeter" />
        <activity
            android:name=".Main_Entity.MainActivity"
            android:label="IdeaMeter" />
        <activity
            android:name=".Blutooth_Entity.ShowBTdevices"
            android:label="IdeaMeter" />

        <!--<receiver-->
            <!--android:name=".SMS_Entity.SmsBroadcastReceiver"-->
            <!--android:exported="true">-->
            <!--<intent-filter android:priority="999">-->
                <!--<action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name=".Blutooth_Entity.BackgroundServiceBTService"
            android:exported="true" />

        <activity
            android:name=".Startup_Pages.login_page"
            android:label="IdeaMeter"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Startup_Pages.about_idealojy"
            android:label="About Idealojy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Startup_Pages.splash"
            android:label="IdeaMeter"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp.signup"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
